<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CketCKet"
        tools:targetApi="31">


        <activity
            android:name=".Registro"
            android:exported="false"
            android:label="Registro"/>
        <activity
            android:name=".Registro1"
            android:exported="false"
            android:label="Registro"/>
        <activity
            android:name=".InicioSesion"
            android:exported="false"
            android:label="Inicio Sesión"/>
        <activity
            android:name=".InicioPrincipal"
            android:exported="false"
            android:label="Inicio"/>
        <activity
            android:name=".InicioPrincipal2"
            android:exported="false"
            android:label="Inicio"/>
        <activity
            android:name=".InicioPrincipal3"
            android:exported="false"
            android:label="Inicio"/>
        <activity
            android:name=".InicioPrincipal4"
            android:exported="false"
            android:label="Inicio"/>
        <activity
            android:name=".InicioPrincipal5"
            android:exported="false"
            android:label="Inicio"/>
        <activity
            android:name=".InicioPrincipalEvento"
            android:exported="false"
            android:label="Inicio"/>
        <activity
            android:name=".InicioPrincipalEvento2"
            android:exported="false"
            android:label="Inicio"/>
        <activity
            android:name=".InicioPrincipalEvento3"
            android:exported="false"
            android:label="Inicio"/>
        <activity
            android:name=".PerfilEventoNicki"
            android:exported="false"
            android:label="Perfil Evento"/>
        <activity
            android:name=".PerfilArtistaNicki"
            android:exported="false"
            android:label="Perfil del Artista"/>
        <activity
            android:name=".PerfilArtistaKiki"
            android:exported="false"
            android:label="Perfil del Artista"/>
        <activity
            android:name=".PerfilArtistaKiki1"
            android:exported="false"
            android:label="Perfil del Artista"/>
        <activity
            android:name=".PerfilEventoKiki"
            android:exported="false"
            android:label="Perfil Evento"/>
        <activity
            android:name=".HistoriaKiki"
            android:exported="false"
            android:label="Historia"/>
        <activity
            android:name=".PerfilEventoACDC"
            android:exported="false"
            android:label="Perfil Evento"/>
        <activity
            android:name=".PerfilArtistaACDC"
            android:exported="false"
            android:label="Perfil Artista"/>
        <activity
            android:name=".PerfilEventoDune"
            android:exported="false"
            android:label="Perfil Evento"/>
        <activity
            android:name=".PerfilEventoBL"
            android:exported="false"
            android:label="Perfil Evento"/>
        <activity
            android:name=".PerfilEventoTeatro"
            android:exported="false"
            android:label="Perfil Evento"/>
        <activity
            android:name=".PerfilUsuario"
            android:exported="false"
            android:label="Perfil Usuario"/>
        <activity
            android:name=".MisEntradas"
            android:exported="false"
            android:label="Mis Entradas"/>
        <activity
            android:name=".ForoDudas"
            android:exported="false"
            android:label="Foro Dudas"/>
        <activity
            android:name=".ForoDudas1"
            android:exported="false"
            android:label="Foro Dudas-Entradas"/>
        <activity
            android:name=".AsistenciaTecnica"
            android:exported="false"
            android:label="Asistencia Técnica"/>
        <activity
            android:name=".Chat"
            android:exported="false"
            android:label="Chat"/>
        <activity
            android:name=".Chat1"
            android:exported="false"
            android:label="Chat"/>
        <activity
            android:name=".Chat2"
            android:exported="false"
            android:label="Chat"/>
        <activity
            android:name=".MisPuntos"
            android:exported="false"
            android:label="Mis Puntos"/>
        <activity
            android:name=".MisPuntosArtista"
            android:exported="false"
            android:label="Mis Puntos"/>
        <activity
            android:name=".MisPuntosAdministrador"
            android:exported="false"
            android:label="Mis Puntos"/>
        <activity
            android:name=".MisPuntosOrganizador"
            android:exported="false"
            android:label="Mis Puntos"/>
        <activity
            android:name=".Bloqueado"
            android:exported="false"
            android:label="Bloqueado"/>
        <activity
            android:name=".BusquedaAvanzada"
            android:exported="false"
            android:label="Búsqueda Avanzada"/>
        <activity
            android:name=".BusquedaAvanzadaEvento"
            android:exported="false"
            android:label="Búsqueda Avanzada - Evento"/>
        <activity
            android:name=".BusquedaAvanzadaMerchandising"
            android:exported="false"
            android:label="Búsqueda Avanzada - Merch"/>
        <activity
            android:name=".BusquedaUsuario"
            android:exported="false"
            android:label="Búsqueda Usuario"/>
        <activity
            android:name=".LiveActivities"
            android:exported="false"
            android:label="Live Activities"/>
        <activity
            android:name=".LiveActivities1"
            android:exported="false"
            android:label="Live Activities"/>
        <activity
            android:name=".Merchandising"
            android:exported="false"
            android:label="Merchandising"/>
        <activity
            android:name=".TiendaPuntos"
            android:exported="false"
            android:label="Tienda Puntos"/>
        <activity
            android:name=".UsuariosBloqueados"
            android:exported="false"
            android:label="Usuarios Bloqueados"/>
        <activity
            android:name=".EntradasCompradas"
            android:exported="false"
            android:label="Chat - Entradas Compradas"/>
        <activity
            android:name=".EntradasVendidas"
            android:exported="false"
            android:label="Chat - Entradas Vendidas"/>
        <activity
            android:name=".EmpezarDirecto"
            android:exported="false"
            android:label="Empezar Directo"/>
        <activity
            android:name=".CrearEncuesta"
            android:exported="false"
            android:label="Crear Encuesta"/>
        <activity
            android:name=".PreguntasRespuestas"
            android:exported="false"
            android:label="Preguntas y Respuestas"/>
        <activity
            android:name=".AnadirHistoria"
            android:exported="false"
            android:label="Añadir Historias"/>
        <activity
            android:name=".SolicitudEventoArtista"
            android:exported="false"
            android:label="Solicitud Evento"/>
        <activity
            android:name=".SolicitudEventoOrganizador"
            android:exported="false"
            android:label="Publicar Evento"/>
        <activity
            android:name=".CompraEntradasACDC"
            android:exported="false"
            android:label="Comprar Entradas"/>
        <activity
            android:name=".CompraEntradasACDC2"
            android:exported="false"
            android:label="Comprar Entradas"/>
        <activity
            android:name=".CompraEntradasACDC3"
            android:exported="false"
            android:label="Comprar Entradas"/>
        <activity
            android:name=".CeAcdcF2"
            android:exported="false"
            android:label="Comprar Entradas"/>
        <activity
            android:name=".CeAcdcF22"
            android:exported="false"
            android:label="Comprar Entradas"/>
        <activity
            android:name=".CeAcdcF2V2"
            android:exported="false"
            android:label="Comprar Entradas"/>
        <activity
            android:name=".CeAcdcF2V22"
            android:exported="false"
            android:label="Comprar Entradas"/>
        <activity
            android:name=".PasarelaPagoACDC"
            android:exported="false"
            android:label="Pasarela de Pago"/>
        <activity
            android:name=".PasarelaPagoACDCTarjeta"
            android:exported="false"
            android:label="Pasarela de Pago"/>
        <activity
            android:name=".PasarelaPagoACDCTarjeta2"
            android:exported="false"
            android:label="Pasarela de Pago"/>
        <activity
            android:name=".PasarelaPagoACDCContrareembolso"
            android:exported="false"
            android:label="Pasarela de Pago"/>
        <activity
            android:name=".PasarelaPagoACDCRegalo"
            android:exported="false"
            android:label="Pasarela de Pago"/>
        <activity
            android:name=".PasarelaPagoACDCPayPal"
            android:exported="false"
            android:label="Pasarela de Pago"/>
        <activity
            android:name=".PasarelaPagoACDCFin"
            android:exported="false"
            android:label="Pasarela de Pago"/>
        <activity
            android:name=".PasarelaPagoNN"
            android:exported="false"
            android:label="Pasarela de Pago"/>
        <activity
            android:name=".PasarelaPagoNNTarjeta"
            android:exported="false"
            android:label="Pasarela de Pago"/>
        <activity
            android:name=".PasarelaPagoNNTarjeta2"
            android:exported="false"
            android:label="Pasarela de Pago"/>
        <activity
            android:name=".PasarelaPagoNNContrareembolso"
            android:exported="false"
            android:label="Pasarela de Pago"/>
        <activity
            android:name=".PasarelaPagoNNRegalo"
            android:exported="false"
            android:label="Pasarela de Pago"/>
        <activity
            android:name=".PasarelaPagoNNPayPal"
            android:exported="false"
            android:label="Pasarela de Pago"/>
        <activity
            android:name=".PasarelaPagoNNFin"
            android:exported="false"
            android:label="Pasarela de Pago"/>
        <activity
            android:name=".ModificarDatosEvento"
            android:exported="false"
            android:label="Modificar Datos Evento"/>
        <activity
            android:name=".AceptarSolicitud"
            android:exported="false"
            android:label="Aceptar Solicitud"/>
        <activity
            android:name=".Formulario"
            android:exported="false"
            android:label="Formulario"/>
        <activity
            android:name=".CrearDescuentos"
            android:exported="false"
            android:label="Crear Descuentos"/>
        <activity
            android:name=".PerfilOrganizador"
            android:exported="false"
            android:label="Perfil Organizador"/>
        <activity
            android:name=".PerfilAdministrador"
            android:exported="false"
            android:label="Perfil Administrador"/>
        <activity
            android:name=".CompraEntradasNicki"
            android:exported="false"
            android:label="Comprar Entradas"/>
        <activity
            android:name=".CompraEntradasNicki2"
            android:exported="false"
            android:label="Comprar Entradas"/>
        <activity
            android:name=".CompraEntradasNicki3"
            android:exported="false"
            android:label="Comprar Entradas"/>
        <activity
            android:name=".CompraEntradasNickiPrecio"
            android:exported="false"
            android:label="Comprar Entradas"/>
        <activity
            android:name=".CompraEntradasNickiPrecio2"
            android:exported="false"
            android:label="Comprar Entradas"/>
        <activity
            android:name=".CompraEntradasNickiPrecio1_2"
            android:exported="false"
            android:label="Comprar Entradas"/>
        <activity
            android:name=".CompraEntradasNickiPrecio2_2"
            android:exported="false"
            android:label="Comprar Entradas"/>
        <activity
            android:name=".Tutorial"
            android:exported="false"
            android:label="Tutorial"/>
        <activity
            android:name=".Tutorial1"
            android:exported="false"
            android:label="Tutorial"/>
        <activity
            android:name=".Tutorial2"
            android:exported="false"
            android:label="Tutorial"/>
        <activity
            android:name=".Tutorial3"
            android:exported="false"
            android:label="Tutorial"/>
        <activity
            android:name=".Tutorial4"
            android:exported="false"
            android:label="Tutorial"/>
        <activity
            android:name=".Tutorial5"
            android:exported="false"
            android:label="Tutorial"/>
        <activity
            android:name=".Tutorial6"
            android:exported="false"
            android:label="Tutorial"/>
        <activity
            android:name=".Error404"
            android:exported="false"
            android:label="Error"/>
        <activity
            android:name=".Ayuda"
            android:exported="false"
            android:label="Ayuda"/>
        <activity
            android:name=".InicioIN"
            android:exported="false"/>
        <activity
            android:name=".RegistroIN"
            android:exported="false"
            android:label="Register"/>
        <activity
            android:name=".Registro1IN"
            android:exported="false"
            android:label="Register"/>
        <activity
            android:name=".InicioSesionIN"
            android:exported="false"
            android:label="Log In"/>
        <activity
            android:name=".InicioPrincipalIN"
            android:exported="false"
            android:label="Main Start"/>
        <activity
            android:name=".InicioPrincipal2IN"
            android:exported="false"
            android:label="Main Start"/>
        <activity
            android:name=".InicioPrincipal3IN"
            android:exported="false"
            android:label="Main Start"/>
        <activity
            android:name=".InicioPrincipal4IN"
            android:exported="false"
            android:label="Main Start"/>
        <activity
            android:name=".InicioPrincipal5IN"
            android:exported="false"
            android:label="Main Start"/>
        <activity
            android:name=".InicioPrincipalEventoIN"
            android:exported="false"
            android:label="Main Start"/>
        <activity
            android:name=".InicioPrincipalEvento2IN"
            android:exported="false"
            android:label="Main Start"/>
        <activity
            android:name=".InicioPrincipalEvento3IN"
            android:exported="false"
            android:label="Main Start"/>
        <activity
            android:name=".PerfilEventoNickiIN"
            android:exported="false"
            android:label="Event Profile"/>
        <activity
            android:name=".PerfilArtistaNickiIN"
            android:exported="false"
            android:label="Artist Profile"/>
        <activity
            android:name=".PerfilArtistaKikiIN"
            android:exported="false"
            android:label="Artist Profile"/>
        <activity
            android:name=".PerfilArtistaKiki1IN"
            android:exported="false"
            android:label="Artist Profile"/>
        <activity
            android:name=".PerfilEventoKikiIN"
            android:exported="false"
            android:label="Event Profile"/>
        <activity
            android:name=".HistoriaKikiIN"
            android:exported="false"
            android:label="Story"/>
        <activity
            android:name=".PerfilEventoACDCIN"
            android:exported="false"
            android:label="Event Profile"/>
        <activity
            android:name=".PerfilArtistaACDCIN"
            android:exported="false"
            android:label="Artist Profile"/>
        <activity
            android:name=".PerfilEventoDuneIN"
            android:exported="false"
            android:label="Event Profile"/>
        <activity
            android:name=".PerfilEventoBLIN"
            android:exported="false"
            android:label="Event Profile"/>
        <activity
            android:name=".PerfilEventoTeatroIN"
            android:exported="false"
            android:label="Event Profile"/>
        <activity
            android:name=".PerfilUsuarioIN"
            android:exported="false"
            android:label="User Profile"/>
        <activity
            android:name=".MisEntradasIN"
            android:exported="false"
            android:label="My Tickets"/>
        <activity
            android:name=".ForoDudasIN"
            android:exported="false"
            android:label="Doubts Forum"/>
        <activity
            android:name=".ForoDudas1IN"
            android:exported="false"
            android:label="Doubts Forum-Tickets"/>
        <activity
            android:name=".AsistenciaTecnicaIN"
            android:exported="false"
            android:label="Technical Assistance"/>
        <activity
            android:name=".ChatIN"
            android:exported="false"
            android:label="Chat"/>
        <activity
            android:name=".Chat1IN"
            android:exported="false"
            android:label="Chat"/>
        <activity
            android:name=".Chat2IN"
            android:exported="false"
            android:label="Chat"/>
        <activity
            android:name=".MisPuntosIN"
            android:exported="false"
            android:label="My Points"/>
        <activity
            android:name=".MisPuntosArtistaIN"
            android:exported="false"
            android:label="My Points"/>
        <activity
            android:name=".MisPuntosAdministradorIN"
            android:exported="false"
            android:label="My Points"/>
        <activity
            android:name=".MisPuntosOrganizadorIN"
            android:exported="false"
            android:label="My Points"/>
        <activity
            android:name=".BloqueadoIN"
            android:exported="false"
            android:label="Banned"/>
        <activity
            android:name=".BusquedaAvanzadaIN"
            android:exported="false"
            android:label="Advanced Search"/>
        <activity
            android:name=".BusquedaAvanzadaEventoIN"
            android:exported="false"
            android:label="Advanced Search - Events"/>
        <activity
            android:name=".BusquedaAvanzadaMerchandisingIN"
            android:exported="false"
            android:label="Advanced Search - Merch"/>
        <activity
            android:name=".BusquedaUsuarioIN"
            android:exported="false"
            android:label="User Search"/>
        <activity
            android:name=".LiveActivitiesIN"
            android:exported="false"
            android:label="Live Activities"/>
        <activity
            android:name=".LiveActivities1IN"
            android:exported="false"
            android:label="Live Activities"/>
        <activity
            android:name=".MerchandisingIN"
            android:exported="false"
            android:label="Merchandising"/>
        <activity
            android:name=".TiendaPuntosIN"
            android:exported="false"
            android:label="Points Store"/>
        <activity
            android:name=".UsuariosBloqueadosIN"
            android:exported="false"
            android:label="Banned Users"/>
        <activity
            android:name=".EntradasCompradasIN"
            android:exported="false"
            android:label="Chat - Tickets bought"/>
        <activity
            android:name=".EntradasVendidasIN"
            android:exported="false"
            android:label="Chat - Tickets Sold"/>
        <activity
            android:name=".EmpezarDirectoIN"
            android:exported="false"
            android:label="Start Direct"/>
        <activity
            android:name=".CrearEncuestaIN"
            android:exported="false"
            android:label="Create Surveys"/>
        <activity
            android:name=".PreguntasRespuestasIN"
            android:exported="false"
            android:label="Questions and Answeres"/>
        <activity
            android:name=".AnadirHistoriaIN"
            android:exported="false"
            android:label="Add Stories"/>
        <activity
            android:name=".SolicitudEventoArtistaIN"
            android:exported="false"
            android:label="Event Request"/>
        <activity
            android:name=".SolicitudEventoOrganizadorIN"
            android:exported="false"
            android:label="Post Event"/>
        <activity
            android:name=".CompraEntradasACDCIN"
            android:exported="false"
            android:label="Buy Tickets"/>
        <activity
            android:name=".CompraEntradasACDC2IN"
            android:exported="false"
            android:label="Buy Tickets"/>
        <activity
            android:name=".CompraEntradasACDC3IN"
            android:exported="false"
            android:label="Buy Tickets"/>
        <activity
            android:name=".CeAcdcF2IN"
            android:exported="false"
            android:label="Buy Tickets"/>
        <activity
            android:name=".CeAcdcF22IN"
            android:exported="false"
            android:label="Buy Tickets"/>
        <activity
            android:name=".CeAcdcF2V2IN"
            android:exported="false"
            android:label="Buy Tickets"/>
        <activity
            android:name=".CeAcdcF2V22IN"
            android:exported="false"
            android:label="Buy Tickets"/>
        <activity
            android:name=".PasarelaPagoACDCIN"
            android:exported="false"
            android:label="Payment Gateway"/>
        <activity
            android:name=".PasarelaPagoACDCTarjetaIN"
            android:exported="false"
            android:label="Payment Gateway"/>
        <activity
            android:name=".PasarelaPagoACDCTarjeta2IN"
            android:exported="false"
            android:label="Payment Gateway"/>
        <activity
            android:name=".PasarelaPagoACDCContrareembolsoIN"
            android:exported="false"
            android:label="Payment Gateway"/>
        <activity
            android:name=".PasarelaPagoACDCRegaloIN"
            android:exported="false"
            android:label="Payment Gateway"/>
        <activity
            android:name=".PasarelaPagoACDCPayPalIN"
            android:exported="false"
            android:label="Payment Gateway"/>
        <activity
            android:name=".PasarelaPagoACDCFinIN"
            android:exported="false"
            android:label="Payment Gateway"/>
        <activity
            android:name=".PasarelaPagoNNIN"
            android:exported="false"
            android:label="Payment Gateway"/>
        <activity
            android:name=".PasarelaPagoNNTarjetaIN"
            android:exported="false"
            android:label="Payment Gateway"/>
        <activity
            android:name=".PasarelaPagoNNTarjeta2IN"
            android:exported="false"
            android:label="Payment Gateway"/>
        <activity
            android:name=".PasarelaPagoNNContrareembolsoIN"
            android:exported="false"
            android:label="Payment Gateway"/>
        <activity
            android:name=".PasarelaPagoNNRegaloIN"
            android:exported="false"
            android:label="Payment Gateway"/>
        <activity
            android:name=".PasarelaPagoNNPayPalIN"
            android:exported="false"
            android:label="Payment Gateway"/>
        <activity
            android:name=".PasarelaPagoNNFinIN"
            android:exported="false"
            android:label="Payment Gateway"/>
        <activity
            android:name=".ModificarDatosEventoIN"
            android:exported="false"
            android:label="Modify Event Data"/>
        <activity
            android:name=".AceptarSolicitudIN"
            android:exported="false"
            android:label="Accept Request"/>
        <activity
            android:name=".FormularioIN"
            android:exported="false"
            android:label="Form"/>
        <activity
            android:name=".CrearDescuentosIN"
            android:exported="false"
            android:label="Create Discounts"/>
        <activity
            android:name=".PerfilOrganizadorIN"
            android:exported="false"
            android:label="Organizer Profile"/>
        <activity
            android:name=".PerfilAdministradorIN"
            android:exported="false"
            android:label="Administrator Profile"/>
        <activity
            android:name=".CompraEntradasNickiIN"
            android:exported="false"
            android:label="Buy Tickets"/>
        <activity
            android:name=".CompraEntradasNicki2IN"
            android:exported="false"
            android:label="Buy Tickets"/>
        <activity
            android:name=".CompraEntradasNicki3IN"
            android:exported="false"
            android:label="Buy Tickets"/>
        <activity
            android:name=".CompraEntradasNickiPrecioIN"
            android:exported="false"
            android:label="Buy Tickets"/>
        <activity
            android:name=".CompraEntradasNickiPrecio2IN"
            android:exported="false"
            android:label="Buy Tickets"/>
        <activity
            android:name=".CompraEntradasNickiPrecio1_2IN"
            android:exported="false"
            android:label="Buy Tickets"/>
        <activity
            android:name=".CompraEntradasNickiPrecio2_2IN"
            android:exported="false"
            android:label="Buy Tickets"/>
        <activity
            android:name=".TutorialIN"
            android:exported="false"
            android:label="Tutorial"/>
        <activity
            android:name=".Tutorial1IN"
            android:exported="false"
            android:label="Tutorial"/>
        <activity
            android:name=".Tutorial2IN"
            android:exported="false"
            android:label="Tutorial"/>
        <activity
            android:name=".Tutorial3IN"
            android:exported="false"
            android:label="Tutorial"/>
        <activity
            android:name=".Tutorial4IN"
            android:exported="false"
            android:label="Tutorial"/>
        <activity
            android:name=".Tutorial5IN"
            android:exported="false"
            android:label="Tutorial"/>
        <activity
            android:name=".Tutorial6IN"
            android:exported="false"
            android:label="Tutorial"/>
        <activity
            android:name=".Error404IN"
            android:exported="false"
            android:label="Error"/>
        <activity
            android:name=".AyudaIN"
            android:exported="false"
            android:label="Help"/>

        <activity
            android:name=".Inicio"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>